.home-wrapper {
  background: url("../../assets/imgs/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}


.home-wrapper .btn-start {
  background: #FF4742;
  border: 3px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: 15%;
  padding: 15px 50px;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

}

.home-wrapper .btn-start:hover {
  background-color: white;
  color: #FF4742;

}